*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
    /* background-image: url(./566229.jpg); */
    background-size: cover;
    background-attachment: fixed;
    margin: 20px;
}

.head{
    text-align: center;
    color: white;
    background-color: rgba(60, 255, 0, 0.5); 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 50%;
    margin: auto;
}

.home{
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

a{
    display: inline-block;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 255, 0.5); 
    padding: 10px;

}

a:hover{
    background-color: rgba(255, 251, 2, 0.8); 
    color: black;
    transition: 0.3s;
}

p{
    padding: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.about{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

h2{
    color: white;
    background-color: rgba(255, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.skills{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}


ul{
    list-style-type: square;
    /* text-align: left; */
    display: inline-block;
}

li{
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

table, th, td{
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

form{
    margin-bottom: 20px;
}

input, textarea{
    margin-bottom: 10px;
    padding: 5px;
    width: 30%;
    box-sizing: border-box;
}

h6{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

div{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 75%;
}

div.div1{
    color: aqua;
    background-color: yellow;
}  
div.div2{
    background-color: blue;
    font-size: 20px;
}
div.div3{
    font-size: 30px;
    background-color: crimson;
}



